html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 2rem;
}

h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
  color: #000;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem;
}

img {
  width: 5rem;
}

p {
  width: 24rem;
}

h3 {
  margin: 0;
  width: 16rem;
  color: #000;
}

h4 {
  margin: 0;
  width: 16rem;
  color: #000;
}

a {
  color: #ccc;
  background-color: #444;
  padding: .5rem 1rem;
  text-decoration: none;
}
